.side-bar
  .header
    %h3.header__name
      user-name
    %ul.header__lists
      %li.list
        = link_to '#' do
          = icon('fa', 'edit',class: 'icon')
      %li.list
        = link_to '#' do
          = icon('fa', 'cog',class: 'icon')
  .groups
    .group
      .group__name
        group-name
      .group__message
        latest-message
    .group
      .group__name
        group-name
      .group__message
        latest-message
    .group
      .group__name
        group-name
      .group__message
        latest-message